.footer_signup_login
  %ul.footer_signup_login__lists
    %li.footer_signup_login__lists__item
      = link_to 'プライバシーポリシー', root_path, class: 'footer_signup_login__lists__item__link', target: "_blank", data:{turbolinks: :false}
    %li.footer_signup_login__lists__item
      = link_to 'メルカリ利用規約', root_path, class: 'footer_signup_login__lists__item__link', target: "_blank", data:{turbolinks: :false}
    %li.footer_signup_login__lists__item
      = link_to '特定商取引に関する表記', root_path, class: 'footer_signup_login__lists__item__link', target: "_blank", data:{turbolinks: :false}

  = link_to root_path, class: 'footer_signup_login__link', data:{turbolinks: :false} do
    = image_tag "mercari_glay-square_logo.png", class: 'header_only-logo--wrap__link__image', size: '80x70', alt: "mercari"
  
  %small © 2019 Mercari