.default-container
  
  =render partial: 'items/header'

  .breadcrumb
    - breadcrumb :user_show
    = breadcrumbs separator: " &rsaquo; "

  %main.mypage_container.clearfix

    =render partial: 'users/left-content'

    .user-show_right-content
      %section.user_info
        = link_to user_path(current_user.id), class: 'user_info__link', data:{turbolinks: :false} do
          %figure
            = image_tag "member_nophoto.jpg", class: 'user_info__link__photo', size: '60x60', alt: ""
          %h2.user_info__link__nickname.bold
            = current_user.nickname
          .user_info__link__number
            %div
              評価
              %span.bold 0
            %div.user_info__link__number__right
              出品数
              %span.bold 
                = @items.length

      %section.user_notification_todo
        %ul.user_notification_todo__tabs
          %li.active
            %h3
              = link_to "お知らせ", user_path(current_user.id), class: 'user_notification_todo__tabs__link bold', data:{toggle: "tab"}, data:{turbolinks: :false}
          %li
            %h3
              = link_to "やることリスト", user_path(current_user.id), class: 'user_notification_todo__tabs__link bold', data: {toggle: "tab"}, data:{turbolinks: :false}

        .user_notification_todo__content
          %ul#mypage_notification.user_notification_todo__content__list.tab-pane.active
            %li
              = link_to user_path(current_user.id), class: 'user_notification_todo__content__list__link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
                %figure
                  = image_tag "mercari_profile.png", class: 'profile_img', size: '48x48', alt: ""
                .user_notification_todo__content__list__link__body
                  .user_notification_todo__content__list__link__body__text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  %time
                    = fa_icon 'clock-o', class: 'icon-clock-o'
                    %span 47 分前
                = fa_icon 'angle-right 2x', class: 'icon-angle-right'
            %li
              = link_to user_path(current_user.id), class: 'user_notification_todo__content__list__link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
                %figure
                  = image_tag "mercari_profile.png", class: 'profile_img', size: '48x48', alt: ""
                .user_notification_todo__content__list__link__body
                  .user_notification_todo__content__list__link__body__text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  %time
                    = fa_icon 'clock-o', class: 'icon-clock-o'
                    %span 47 分前
                = fa_icon 'angle-right 2x', class: 'icon-angle-right'
            %li
              = link_to user_path(current_user.id), class: 'user_notification_todo__content__list__link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
                %figure
                  = image_tag "mercari_profile.png", class: 'profile_img', size: '48x48', alt: ""
                .user_notification_todo__content__list__link__body
                  .user_notification_todo__content__list__link__body__text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  %time
                    = fa_icon 'clock-o', class: 'icon-clock-o'
                    %span 47 分前
                = fa_icon 'angle-right 2x', class: 'icon-angle-right'
            %li
              = link_to user_path(current_user.id), class: 'user_notification_todo__content__list__link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
                %figure
                  = image_tag "mercari_profile.png", class: 'profile_img', size: '48x48', alt: ""
                .user_notification_todo__content__list__link__body
                  .user_notification_todo__content__list__link__body__text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  %time
                    = fa_icon 'clock-o', class: 'icon-clock-o'
                    %span 47 分前
                = fa_icon 'angle-right 2x', class: 'icon-angle-right'
            %li
              = link_to user_path(current_user.id), class: 'user_notification_todo__content__list__link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
                %figure
                  = image_tag "mercari_profile.png", class: 'profile_img', size: '48x48', alt: ""
                .user_notification_todo__content__list__link__body
                  .user_notification_todo__content__list__link__body__text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  %time
                    = fa_icon 'clock-o', class: 'icon-clock-o'
                    %span 47 分前
                = fa_icon 'angle-right 2x', class: 'icon-angle-right'
            %li.user_notification_todo__content__list--go
              = link_to '一覧を見る', user_path(current_user.id), class: 'user_notification_todo__content__list--go__link', data:{turbolinks: :false}

          %ul#mypage_todo.user_notification_todo__content__list.tab-pane
            %li.user-item-not-found.bold 現在、やることリストはありません

      %section.user_tradings
        %h2.user_tradings__head 購入した商品
        %ul.user_tradings__tabs
          %li.active
            %h3
              = link_to '取引中', user_path(current_user.id), class: 'user_tradings__status', data:{toggle: "tab"}, data:{turbolinks: :false}
          %li
            %h3
              = link_to '過去の取引', user_path(current_user.id), class: 'user_tradings__status', data:{toggle: "tab"}, data:{turbolinks: :false}
        .user_tradings__contents
          %ul#mypage_trading-now.user_tradings__contents__list.tab-pane.active
            %li.user-item-not-found.bold 取引中の商品がありません
          %ul#mypage_trading-old.user_tradings__contents__list.tab-pane
            %li.user-item-not-found.bold 過去に取引した商品がありません

  =render partial: 'items/footer'