.default-container
  
  -# =render partial: 'items/header'

  .user_mypage_identification_right-content
    %h2.mi_head 住所入力

    .mi_group
      %p.bold お名前
      %p 石ノ森 章太郎

    .mi_group
      %p.bold お名前カナ
      %p イシノモリ ショウタロウ

    = form_with url: ' user_addresses_path', local: true, class: 'mi_form' do |f|

      .mi_form__group
        %label.bold{ for: "postalcode" } 郵便番号
        %label.mi_form__group--arbitrary 任意
        = f.text_field :postalcode, name: "postalcode", class: 'mi_form__group__input', placeholder: "例）123-4567"

      .mi_form__group
        %label.bold{ for: "prefecture" } 都道府県
        %label.mi_form__group--arbitrary 任意
        .mi_form__group--select-wrap
          = fa_icon 'angle-down 2x', class: 'icon-angle-down bold'
          = f.select :prefecture, Address.prefectures.keys

      .mi_form__group
        %label.bold{ for: "city" } 市区町村
        %label.mi_form__group--arbitrary 任意
        = f.text_field :city, name: "city", class: 'mi_form__group__input', placeholder: "例）石巻市"

      .mi_form__group
        %label.bold{ for: "number" } 番地
        %label.mi_form__group--arbitrary 任意
        = f.text_field :number, name: "number", class: 'mi_form__group__input', placeholder: "例）中瀬２−７"
        
      .mi_form__group
        %label.bold{ for: "building" } 建物名
        %label.mi_form__group--arbitrary 任意
        = f.text_field :building, name: "building", class: 'mi_form__group__input', placeholder: "例）石ノ森萬画館"

      = f.submit '登録する',class: 'mi_form__submit_btn'

    .mi_group
      %p.text-right
        = link_to "/jp/help_center/article/423/", class: 'mi_group__link', target: "_blank", data:{turbolinks: :false} do
          本人情報の登録について
          = fa_icon 'angle-right', class: 'icon-angle-right bold'

  -# =render partial: 'items/footer'