%body
  .default-container
    %header.pc-header.visible-pc
      .pc-header-inner
        .pc-header-top
          %h1
            = link_to "/" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3236810361", size: "134×36", alt: "mercari"
         
          %form.pc-header-form{ action: " /search/"}
            %input.input-default{ name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
            %i.icon-search
       
        .pc-header-nav-box.clearfix
          %nav.pc-header-nav-box__left
            %ul.pc-header-nav
              %li
                %h2
                  = link_to "", class: "pc-header-nav-root.list-parent" do
                    %i.icon-list.pc-header-cat-brand-icon
                    %span カテゴリーから探す
                %ul.pc-header-nav__parent-wrap{data: {mega: 1}}
                  %li.pc-header-nav__parent
                    %h3
                      = link_to "レディース", "" 
                    %ul.pc-header-nav__child-wrap{data: {mega: 2}}
                      %li.pc-header-nav__child
                        = link_to "トップス", "" 
                        %ul.pc-header-nav__grand-child-wrap{data: {mega: 3}}
                          %li.pc-header-nav__grand-child
                            = link_to "Tシャツ/カットソー(半袖/袖なし)", "" 
                    %h3
                      = link_to "カテゴリー一覧", "" 
             
              %li
                %h2
                  = link_to "", class: "pc-header-nav-root.list-parent" do
                    %i.icon-tag.pc-header-cat-brand-icon
                    %span ブランドから探す
                  %ul.pc-header-nav__parent-wrap
                    %li.pc-header-nav__parent
                      %h3
                        = link_to "シャネル", "" 
                    
          .pc-header-nav-box__right
            %ul.pc-header-user-nav
              %li.liked-items__link
                = link_to "", class: "pc-header-menu__link" do
                  %i.icon-like-border
                  %span いいね！一覧
              %li{ data: {id: "pc-header-user-nav", key: "notification_list", url: "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}}
                = link_to "", data: { url: "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}, class: "pc-header-menu__link" do
                  %i.icon-bell
                  %span お知らせ
                %ul.pc-header-user-box.pc-header-notification-box.mypage__item-list{"data-id": "pc-header-user-items"}
              %li{ data: {id: "pc-header-user-nav", key: "todo_list", url: "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}}
                = link_to "", data: { url: "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}, class: "pc-header-menu__link" do
                  %i.icon-check
                  %span やることリスト
                %ul.pc-header-user-box.pc-header-todo-box.mypage__item-list{ data: { id: "pc-header-user-items"}}
              %li
                = link_to "", class: "pc-header-user__icon.pc-header-menu__link" do
                  %figure
                    %div
                      = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "32", alt: ""
                  %span マイページ
               
                .pc-header-use-box.pc-header-mypage__box
                  .pc-header-mypage__state.text-center
                    %figure
                      %div
                        = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60", alt: ""
                      %figcaption 侍の兄
                    %ul.pc-header-mypage__review-listing
                      %li
                        = link_to "評価:2", "",class: "pc-header-mypage__link"
                      %li
                        = link_to "出品数: 3", "", class: "pc-header-mypage__link"
                    %ul.pc-header-mypage__sales-point
                      %li
                        = link_to "", class: "pc-header-mypage__link clearfix" do
                          .pc-header-mypage__sales-point--left
                            売上金
                          .pc-header-mypage__sales-pointl--right
                            ¥ 780
                            %i.icon-arrow-right
                      %li
                        = link_to "", class: "pc-header-mypage__link clearfix" do
                          .pc-header-mypage__sales-point--left 
                            ポイント
                          .pc-header-mypage__sales-pointl--right
                            P 0
                            %i.icon-arrow-right
              
                  %ul.pc-header-mypage__nav-list
                    %li
                      = link_to "", class: "pc-header-mypage__nav-list__item" do
                        いいね！一覧
                        %i.icon-arrow-right
                    %li
                      = link_to "", class: "pc-header-mypage__nav-list__item" do
                        出品した商品 - 出品中
                        %i.icon-arrow-right
                    %li
                      = link_to "", class: "pc-header-mypage__nav-list__item" do
                        出品した商品 - 取引中
                        %i.icon-arrow-right
                    %li
                      = link_to "", class: "pc-header-mypage__nav-list__item" do
                        出品した商品 - 売却済み
                        %i.icon-arrow-right
                    %li
                      = link_to "", class: "pc-header-mypage__nav-list__item" do
                        購入した商品 - 取引中
                        %i.icon-arrow-right
                    %li
                      = link_to "", class: "pc-header-mypage__nav-list__item" do
                        購入した商品 - 過去の取引
                        %i.icon-arrow-right



