.main-content__list__container
  = link_to item_path(item.user.id) do
    .main-content__list__container__image
      = image_tag item.image.url, size: "213x213"
    .main-content__list__container__detail
      %h3
        = item.name
      .main-content__list__container__detail__info
        .main-content__list__container__detail__info__price
          ¥
          = item.price
        .main-content__list__container__detail__info__like
          = fa_icon "heart", text: "1"