%main.white{role: "main"}
  %section.owl-carousel.top-carousel
    = link_to "/jp/featured/camp/", class: 'top-banner.banner-camp'
    %div
      .top-main-visual
        %div
          .top-main-visual__content
            %h2
              スマホでかんたん
              %br
              フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br
              購入時も安心な独自システムのアプリです
            .top-main-visual__store.clearfix
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: 'pull-left', target: "_blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3236810361", alt: ""
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: 'pull-left', target: "_blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3236810361", alt: ""
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3236810361", alt: ""
      -# #sp-top.visible-sp
      -#   #sp-top__banner
      -#     %h2
      -#       スマホで
      -#       %br
      -#       かんたん
      -#       %br
      -#       フリマアプリ
      -#     = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3236810361", alt: ""
      -#   #sp-top__dl.clearfix
      -#     = link_to "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=top.foot" do
      -#       = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3236810361", alt: ""
      -#     = link_to "http://app.adjust.io/xio2ii?campaign=android&adgroup=top.foot" do
      -#       = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3236810361", alt: ""



  %section.pickup-container
    %h2.pickup-head
      ピックアップカテゴリー
    %section.items-container.clearfix
      %h3.text-center
        = link_to "/jp/category/1/" do
          レディース 新着アイテム
      .items-container__items-box.clearfix
        %section.box
          = link_to "https://item.mercari.com/jp/m28891042045/" do
            %figure.items-container__items-box__photo
              = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg"}
            .items-container__items-box__body
              %h3.items-container__items-box__body__name.font-2
                《ユニクロ》 帽子 ハット キャップ
              .items-container__items-box__body__num
                .items-container__items-box__body__num__price.font-5
                  ¥ 540
                .items-container__items-box__body__num__icon
                  = fa_icon "heart", text: "1"

        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
      .view-all
        = link_to "/jp/category/1/" do
          すべての商品を見る

  %section.pickup-container
    %h2.pickup__head
      ピックアップブランド
    %section.items-container.clearfix
      %h3.text-center
        = link_to "/jp/category/1/" do
          レディース 新着アイテム
      .items-container__items-box.clearfix
        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
              .font-2
                %i.far.fa-heart
                %span 1
        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
        -# %section.items-box ←不都合出たら復活させる？
        = link_to "https://item.mercari.com/jp/m28891042045/" do
          %figure.items-container__items-box__photo
            = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
          .items-container__items-box__body
            %h3.items-container__items-box__body__name.font-2 《ユニクロ》 帽子 ハット キャップ
            .items-container__items-box__body__num
              .items-container__items-box__body__num__price.font-5 ¥ 540
      .view-all
        = link_to "/jp/category/1/" do
          すべての商品を見る

%aside.app-banner
  .app-banner__pc
    .app-banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner__pc__inner__icon.clearfix
        %figure
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3135490372", size: "68", alt: ""
        %ul.clearfix
          %li
            = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3135490372", size: "133×40", alt: ""
          %li
            = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3135490372", size: "133×40", alt: ""
    %figure
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3135490372", alt: ""