%main.toppage-main
  .main-header
  -# メイン上部の、キャンプの画像があるところ
  .main-content
    %h2
      ピックアップカテゴリー
    %h3
      = link_to "/jp/category/1/" do
        レディース 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 5,400
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 5,400
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "5"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 200
              -# .main-content__list__container__detail__info__like
              -#   = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 15,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "10"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
    %h3
      = link_to "/jp/category/2/" do
        メンズ 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 200
              -# .main-content__list__container__detail__info__like
              -#   = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 100
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 6,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
    %h3
      = link_to "/jp/category/3/" do
        ベビー・キッズ 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 3,300
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
    %h3
      = link_to "/jp/category/6/" do
        コスメ・香水・美容 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 9,800
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://smashedpeasandcarrots.com/wp-content/uploads/2017/03/Paleo-and-Vegan-Shamrock-Shake-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 10,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
  .main-content
    %h2
      ピックアップブランド
    %h3
      = link_to "https://www.mercari.com/jp/brand/658/" do
        シャネル 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 400
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 700
              -# .main-content__list__container__detail__info__like
              -#   = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 10
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 900
              -# .main-content__list__container__detail__info__like
              -#   = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
    %h3
      = link_to "/jp/category/1326/" do
        ルイ ヴィトン 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 5,200
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 4,500
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 2,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 500
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
    %h3
      = link_to "/jp/category/1620/" do
        シュプリーム 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 300
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 500
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 300
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 1,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
    %h3
      = link_to "/jp/category/857/" do
        ナイキ 新着アイテム
    .main-content__list
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 1,200
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 13,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 5,000
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
      .main-content__list__container
        = link_to item_path(1) do
          .main-content__list__container__image
            = image_tag "http://www.yakinikuen-sato.jp/wp-content/uploads/2014/04/ed09c68a5a7fcce472d95cafd698fb8a-213x213.jpg", alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: ""}
          .main-content__list__container__detail
            %h3
              《ユニクロ》 帽子 ハット キャップ
            .main-content__list__container__detail__info
              .main-content__list__container__detail__info__price
                ¥ 3,300
              .main-content__list__container__detail__info__like
                = fa_icon "heart", text: "1"
    .main-content__view-all
      = link_to "https://item.mercari.com/jp/m28891042045/" do
        すべての商品を見る
  .main-footer
    .main-footer__left
      %h2
        スマホでかんたんフリマアプリ
      %p
        今すぐ無料ダウンロード！
      .main-footer__left__logo
        .main-footer__left__logo__mercari
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2098311808", class: 'mercari', alt: "メルカリロゴ"
        .main-footer__left__logo__apple-google
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2098311808", alt: "Appleロゴ"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2098311808", alt: "Googleロゴ"
    .main-footer__right
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2098311808", alt: "メルカリ"