%main.white{role: "main"}
  %section.owl-carousel.top-carousel
    = link_to "/jp/featured/camp/", class: 'top-banner.banner-camp'
    %div
      .top-main-visual
        %div
          .top-main-visual-content
            %h2
              スマホでかんたん
              %br
              フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br
              購入時も安心な独自システムのアプリです
            .top-main-visual-store.clearfix
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: 'pull-left', target: "_blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3236810361", alt: ""
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: 'pull-left', target: "_blank" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3236810361", alt: ""
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3236810361", alt: ""
      #sp-top.visible-sp
        #sp-top-banner
          %h2
            スマホで
            %br
            かんたん
            %br
            フリマアプリ
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3236810361", alt: ""
        #sp-top-dl.clearfix
          = link_to "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=top.foot" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3236810361", alt: ""
          = link_to "http://app.adjust.io/xio2ii?campaign=android&adgroup=top.foot" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3236810361", alt: ""
  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/category/1/" do
          レディース 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m28891042045/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "《ユニクロ》 帽子 ハット キャップ", data: {src: "https://static.mercdn.net/thumb/photos/m28891042045_1.jpg?1563778088"}
            .items-box-body
              %h3.items-box-name.font-2 《ユニクロ》 帽子 ハット キャップ
              .items-box-num
                .items-box-price.font-5 ¥ 540
        %section.items-box
          = link_to "https://item.mercari.com/jp/m33677491553/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "NIKE エアマックス95 23.0", data: {src: "https://static.mercdn.net/thumb/photos/m33677491553_1.jpg?1563778267"}
            .items-box-body
              %h3.items-box-name.font-2 NIKE エアマックス95 23.0
              .items-box-num
                .items-box-price.font-5 ¥ 8,500
        %section.items-box
          = link_to "https://item.mercari.com/jp/m50145480821/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "H&M タンクトップ レディース", data: {src: "https://static.mercdn.net/thumb/photos/m50145480821_1.jpg?1563778267"}
            .items-box-body
              %h3.items-box-name.font-2 H&amp;M タンクトップ レディース
              .items-box-num
                .items-box-price.font-5 ¥ 500
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          = link_to "https://item.mercari.com/jp/m55133077587/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "UGG 茶スエードサンダル", data: {src: "https://static.mercdn.net/thumb/photos/m55133077587_1.jpg?1563778266"}
            .items-box-body
              %h3.items-box-name.font-2 UGG 茶スエードサンダル
              .items-box-num
                .items-box-price.font-5 ¥ 2,800
      .view-all
        = link_to "/jp/category/1/" do
          すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/category/2/" do
          メンズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m85509047005/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "CASIO G-SHOCK 腕時計 フロッグマン", data: {src: "https://static.mercdn.net/thumb/photos/m85509047005_1.jpg?1563778357"}
            .items-box-body
              %h3.items-box-name.font-2 CASIO G-SHOCK 腕時計 フロッグマン
              .items-box-num
                .items-box-price.font-5 ¥ 14,000
        %section.items-box
          = link_to "https://item.mercari.com/jp/m96775997675/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "【TDJ様専用】豊天商店　ジャージ　筋肉バカ", data: {src: "https://static.mercdn.net/thumb/photos/m96775997675_1.jpg?1563778356"}
              %figcaption
                .item-sold-out-badge
                  %div SOLD
            .items-box-body
              %h3.items-box-name.font-2 【TDJ様専用】豊天商店　ジャージ　筋肉バカ
              .items-box-num
                .items-box-price.font-5 ¥ 1,200
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          = link_to "https://item.mercari.com/jp/m13543572656/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "サンダース マッドガード スリッポン スエード ベージュ 7 BEAMS", data: {src: "https://static.mercdn.net/thumb/photos/m13543572656_1.jpg?1563731082"}
            .items-box-body
              %h3.items-box-name.font-2 サンダース マッドガード スリッポン スエード ベージュ 7 BEAMS
              .items-box-num
                .items-box-price.font-5 ¥ 16,800
        %section.items-box
          = link_to "https://item.mercari.com/jp/m96272246156/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "onlyone freedom ワイドパンツ", data: {src: "https://static.mercdn.net/thumb/photos/m96272246156_1.jpg?1563520314"}
            .items-box-body
              %h3.items-box-name.font-2 onlyone freedom ワイドパンツ
              .items-box-num
                .items-box-price.font-5 ¥ 7,000
                .font-2
                  %i.icon-like-border
                  %span 1
      .view-all
        = link_to "/jp/category/2/" do
          すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/category/3/" do
          ベビー・キッズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m57015501098/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "背中の汗取りパッド ベビー 赤ちゃん あせとり パット インナー かわいい", data: {src: "https://static.mercdn.net/thumb/photos/m57015501098_1.jpg?1563778356"}
            .items-box-body
              %h3.items-box-name.font-2 背中の汗取りパッド ベビー 赤ちゃん あせとり パット インナー かわいい
              .items-box-num
                .items-box-price.font-5 ¥ 490
        %section.items-box
          = link_to "https://item.mercari.com/jp/m20172061626/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "ジンボリー ワンピース水着 4T 100cm", data: {src: "https://static.mercdn.net/thumb/photos/m20172061626_1.jpg?1563778356"}
            .items-box-body
              %h3.items-box-name.font-2 ジンボリー ワンピース水着 4T 100cm
              .items-box-num
                .items-box-price.font-5 ¥ 800
        %section.items-box
          = link_to "https://item.mercari.com/jp/m75749367007/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "ベビービョルン　防寒カバー", data: {src: "https://static.mercdn.net/thumb/photos/m75749367007_1.jpg?1563778354"}
            .items-box-body
              %h3.items-box-name.font-2 ベビービョルン　防寒カバー
              .items-box-num
                .items-box-price.font-5 ¥ 1,200
        %section.items-box
          = link_to "https://item.mercari.com/jp/m30798426238/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "プティマイン☆フリルトップス☆イエロー", data: {src: "https://static.mercdn.net/thumb/photos/m30798426238_1.jpg?1563778352"}
            .items-box-body
              %h3.items-box-name.font-2 プティマイン☆フリルトップス☆イエロー
              .items-box-num
                .items-box-price.font-5 ¥ 1,380
                .font-2
                  %i.icon-like-border
                  %span 1
      .view-all
        = link_to "/jp/category/3/" do
          すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/category/6/" do
          コスメ・香水・美容 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m61844937945/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "ベルタ葉酸サプリ", data: {src: "https://static.mercdn.net/thumb/photos/m61844937945_1.jpg?1563778355"}
            .items-box-body
              %h3.items-box-name.font-2 ベルタ葉酸サプリ
              .items-box-num
                .items-box-price.font-5 ¥ 3,100
        %section.items-box
          = link_to "https://item.mercari.com/jp/m20194784241/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "ララパルフェ", data: {src: "https://static.mercdn.net/thumb/photos/m20194784241_1.jpg?1560351651"}
            .items-box-body
              %h3.items-box-name.font-2 ララパルフェ
              .items-box-num
                .items-box-price.font-5 ¥ 1,999
        %section.items-box
          = link_to "https://item.mercari.com/jp/m32201043724/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "1点限定半額セール！希少☆14mm珠 天然沈水沈香の数珠☆ブレスレット", data: {src: "https://static.mercdn.net/thumb/photos/m32201043724_1.jpg?1563778353"}
            .items-box-body
              %h3.items-box-name.font-2 1点限定半額セール！希少☆14mm珠 天然沈水沈香の数珠☆ブレスレット
              .items-box-num
                .items-box-price.font-5 ¥ 26,000
        %section.items-box
          = link_to "https://item.mercari.com/jp/m58014002278/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "☆人気商品 ネイチャーリパブリックアロエベラスージングジェル", data: {src: "https://static.mercdn.net/thumb/photos/m58014002278_1.jpg?1563778351"}
            .items-box-body
              %h3.items-box-name.font-2 ☆人気商品 ネイチャーリパブリックアロエベラスージングジェル
              .items-box-num
                .items-box-price.font-5 ¥ 1,790
                .font-2
                  %i.icon-like-border
                  %span 1
      .view-all
        = link_to "/jp/category/6/" do
          すべての商品を見る
  %section.pickup-container
    %h2.pickup-head ピックアップブランド
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/brand/658/" do
          シャネル 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m43511107986/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "CHANEL シャネル 長財布", data: {src: "https://static.mercdn.net/thumb/photos/m43511107986_1.jpg?1563778351"}
            .items-box-body
              %h3.items-box-name.font-2 CHANEL シャネル 長財布
              .items-box-num
                .items-box-price.font-5 ¥ 20,000
        %section.items-box
          = link_to "https://item.mercari.com/jp/m62338375354/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "CHANEL♡リング", data: {src: "https://static.mercdn.net/thumb/photos/m62338375354_1.jpg?1562304437"}
            .items-box-body
              %h3.items-box-name.font-2 CHANEL♡リング
              .items-box-num
                .items-box-price.font-5 ¥ 9,800
                .font-2
                  %i.icon-like-border
                  %span 10
        %section.items-box
          = link_to "https://item.mercari.com/jp/m36354734945/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "美品☆CHANEL☆シャネル サンダル ホワイト", data: {src: "https://static.mercdn.net/thumb/photos/m36354734945_1.jpg?1563778323"}
            .items-box-body
              %h3.items-box-name.font-2 美品☆CHANEL☆シャネル サンダル ホワイト
              .items-box-num
                .items-box-price.font-5 ¥ 78,600
        %section.items-box
          = link_to "https://item.mercari.com/jp/m38734067580/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "CHANEL シャネル 空箱", data: {src: "https://static.mercdn.net/thumb/photos/m38734067580_1.jpg?1563778316"}
            .items-box-body
              %h3.items-box-name.font-2 CHANEL シャネル 空箱
              .items-box-num
                .items-box-price.font-5 ¥ 1,200
      .view-all
        = link_to "/jp/brand/658/" do
          すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/brand/1326/" do
          ルイ ヴィトン 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m44181914491/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "Louis Vuitton モノグラムミニ ショルダーバッグ", data: {src: "https://static.mercdn.net/thumb/photos/m44181914491_1.jpg?1563541745"}
            .items-box-body
              %h3.items-box-name.font-2 Louis Vuitton モノグラムミニ ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 23,300
                .font-2
                  %i.icon-like-border
                  %span 7
        %section.items-box
          = link_to "https://item.mercari.com/jp/m32900754804/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "ショルダーバッグ、モノグラム", data: {src: "https://static.mercdn.net/thumb/photos/m32900754804_1.jpg?1563708484"}
            .items-box-body
              %h3.items-box-name.font-2 ショルダーバッグ、モノグラム
              .items-box-num
                .items-box-price.font-5 ¥ 36,000
                .font-2
                  %i.icon-like-border
                  %span 8
        %section.items-box
          = link_to "https://item.mercari.com/jp/m86452381877/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "【最終値下げ】LOUIS VUITTON ダミエ カバ・リヴィントン", data: {src: "https://static.mercdn.net/thumb/photos/m86452381877_1.jpg?1558589216"}
            .items-box-body
              %h3.items-box-name.font-2 【最終値下げ】LOUIS VUITTON ダミエ カバ・リヴィントン
              .items-box-num
                .items-box-price.font-5 ¥ 99,300
                .font-2
                  %i.icon-like-border
                  %span 48
        %section.items-box
          = link_to "https://item.mercari.com/jp/m34380862090/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "ルイヴィトン モノグラム ポルトフォイユ・ヴィエノワ がま口 二つ折り財布 箱", data: {src: "https://static.mercdn.net/thumb/photos/m34380862090_1.jpg?1563326127"}
            .items-box-body
              %h3.items-box-name.font-2 ルイヴィトン モノグラム ポルトフォイユ・ヴィエノワ がま口 二つ折り財布 箱
              .items-box-num
                .items-box-price.font-5 ¥ 49,400
      .view-all
        = link_to "/jp/brand/1326/" do
          すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/brand/1620/" do
          シュプリーム 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m70385961648/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "最終値引き supreme × hysteric glamour ニット帽", data: {src: "https://static.mercdn.net/thumb/photos/m70385961648_1.jpg?1563544645"}
            .items-box-body
              %h3.items-box-name.font-2 最終値引き supreme × hysteric glamour ニット帽
              .items-box-num
                .items-box-price.font-5 ¥ 5,800
                .font-2
                  %i.icon-like-border
                  %span 2
        %section.items-box
          = link_to "https://item.mercari.com/jp/m84041925460/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "Supreme 17FW Box Logo Sweats hirt", data: {src: "https://static.mercdn.net/thumb/photos/m84041925460_1.jpg?1551185070"}
            .items-box-body
              %h3.items-box-name.font-2 Supreme 17FW Box Logo Sweats hirt
              .items-box-num
                .items-box-price.font-5 ¥ 85,000
                .font-2
                  %i.icon-like-border
                  %span 31
        %section.items-box
          = link_to "https://item.mercari.com/jp/m24665667986/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "Supreme THE NORTH FACE リュック", data: {src: "https://static.mercdn.net/thumb/photos/m24665667986_1.jpg?1562973112"}
            .items-box-body
              %h3.items-box-name.font-2 Supreme THE NORTH FACE リュック
              .items-box-num
                .items-box-price.font-5 ¥ 22,000
                .font-2
                  %i.icon-like-border
                  %span 17
        %section.items-box
          = link_to "https://item.mercari.com/jp/m40737773337/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "Supreme Backpack 17 aw BLACK", data: {src: "https://static.mercdn.net/thumb/photos/m40737773337_1.jpg?1563409356"}
            .items-box-body
              %h3.items-box-name.font-2 Supreme Backpack 17 aw BLACK
              .items-box-num
                .items-box-price.font-5 ¥ 22,800
                .font-2
                  %i.icon-like-border
                  %span 17
      .view-all
        = link_to "/jp/brand/1620/" do
          すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to "/jp/brand/857/" do
          ナイキ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          = link_to "https://item.mercari.com/jp/m60405826665/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "平行輸入品 AIR HUARACHE ナイキエアハラチ　スエード　GRAY", data: {src: "https://static.mercdn.net/thumb/photos/m60405826665_1.jpg?1550576416"}
            .items-box-body
              %h3.items-box-name.font-2 平行輸入品 AIR HUARACHE ナイキエアハラチ　スエード　GRAY
              .items-box-num
                .items-box-price.font-5 ¥ 3,400
                .font-2
                  %i.icon-like-border
                  %span 2
        %section.items-box
          = link_to "https://item.mercari.com/jp/m70033598402/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "NIKE スニーカージョーダン", data: {src: "https://static.mercdn.net/thumb/photos/m70033598402_1.jpg?1563460075"}
            .items-box-body
              %h3.items-box-name.font-2 NIKE スニーカージョーダン
              .items-box-num
                .items-box-price.font-5 ¥ 31,000
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          = link_to "https://item.mercari.com/jp/m50676669093/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "エアジョーダン1 Low", data: {src: "https://static.mercdn.net/thumb/photos/m50676669093_1.jpg?1563772294"}
            .items-box-body
              %h3.items-box-name.font-2 エアジョーダン1 Low
              .items-box-num
                .items-box-price.font-5 ¥ 91,000
                .font-2
                  %i.icon-like-border
                  %span 4
        %section.items-box
          = link_to "https://item.mercari.com/jp/m74770203595/" do
            %figure.items-box-photo
              = image_tag "", class: 'lazyload', alt: "NIKE ナイキ スニーカー", data: {src: "https://static.mercdn.net/thumb/photos/m74770203595_1.jpg?1559819928"}
            .items-box-body
              %h3.items-box-name.font-2 NIKE ナイキ スニーカー
              .items-box-num
                .items-box-price.font-5 ¥ 3,900
      .view-all
        = link_to "/jp/brand/857/" do
          すべての商品を見る
%aside.app-banner
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3135490372", size: "68", alt: ""
        %ul.clearfix
          %li
            = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3135490372", size: "133×40", alt: ""
          %li
            = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3135490372", size: "133×40", alt: ""
    %figure
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3135490372", alt: ""