- user_items.each do |user_item|
  .main-content__list__container
    = link_to item_path(user_item.id) do
      .main-content__list__container__image
        = image_tag user_item.image.url, size: "213x213"
      .main-content__list__container__detail
        %h3
          = user_item.name
        .main-content__list__container__detail__info
          .main-content__list__container__detail__info__price
            = converting_to_jpy(user_item.price)
          .main-content__list__container__detail__info__like
            = fa_icon "heart", text: "1"
          - case user_item.trading.status
          - when '出品中'
            .main-content__list__container__detail__info__trading_status
              = "#{user_item.trading.status}"
          - when '取引中'
            .main-content__list__container__detail__info__trading_status.yellow
              = "#{user_item.trading.status}"
          - when '売却済'
            .main-content__list__container__detail__info__trading_status.blue
              = "#{user_item.trading.status}"
          - else
            .main-content__list__container__detail__info__trading_status.gray
              = "#{user_item.trading.status}"