-# %div Hello, World!

%main.l-container.clearfix
  .l-content

    %section.mypage-user-icon
      = link_to "https://www.mercari.com/jp/u/335741478/", data:{turbolinks: :false} do
        %figure
          = image_tag{"member_photo_noimage_thumb.png", class: 'member_photo', size: '60x60', alt: ""}
        %h2.bold にゃん太
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0


    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active
          %h3
            = link_to "お知らせ", "#mypage-tab-notification", data:{toggle: "tab"}, data:{turbolinks: :false}
              %span.mypage-nav-number.hidden-large
                2
        %li
          %h3
            = link_to "やることリスト", "#mypage-tab-todo", data:{toggle: "tab"}, data:{turbolinks: :false}

      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            = link_to "https://www.mercari.com/jp/u/335741478/", class: 'mypage-item-link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
              %figure
                = image_tag{"mercari_profile.png", class: 'lazyload', size: '48x48', alt: ""}
              .mypage-item-body
                .mypage-item-text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                %time
                  %i.icon-time
                  %span 47 分前
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/u/335741478/", class: 'mypage-item-link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
              %figure
                = image_tag{"mercari_profile.png", class: 'lazyload', size: '48x48', alt: ""}
              .mypage-item-body
                .mypage-item-text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                %time
                  %i.icon-time
                  %span 47 分前
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/u/335741478/", class: 'mypage-item-link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
              %figure
                = image_tag{"mercari_profile.png", class: 'lazyload', size: '48x48', alt: ""}
              .mypage-item-body
                .mypage-item-text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                %time
                  %i.icon-time
                  %span 47 分前
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/u/335741478/", class: 'mypage-item-link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
              %figure
                = image_tag{"mercari_profile.png", class: 'lazyload', size: '48x48', alt: ""}
              .mypage-item-body
                .mypage-item-text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                %time
                  %i.icon-time
                  %span 47 分前
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/u/335741478/", class: 'mypage-item-link', data:{modal: "banner"}, data:{open: "modal"}, data:{turbolinks: :false} do
              %figure
                = image_tag{"mercari_profile.png", class: 'lazyload', size: '48x48', alt: ""}
              .mypage-item-body
                .mypage-item-text 《もう参加した？》今なら最大”P1500”もらえる！詳しくはこちらから♪
                %time
                  %i.icon-time
                  %span 47 分前
              %i.icon-arrow-right
          %li.mypage-go-list
            = link_to '一覧を見る', "/jp/mypage/notification/", data:{turbolinks: :false}

        %ul#mypage-tab-todo.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 現在、やることリストはありません

    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            = link_to '取引中', "#mypage-tab-transaction-now", data:{toggle: "tab"}, data:{turbolinks: :false}
        %li
          %h3
            = link_to '過去の取引', "#mypage-tab-transaction-old", data:{toggle: "tab"}, data:{turbolinks: :false}
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 過去に取引した商品がありません

  .l-side
    %nav.mypage-nav      
      %ul.mypage-nav-list
        %li
          = link_to "/jp/mypage/", class: 'mypage-nav-list-item active', data:{turbolinks: :false} do
            マイページ
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/notification/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            お知らせ
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/todo/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            やることリスト
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/like/history/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            いいね！一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/sell/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            出品する
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/listings/listing/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            出品した商品 - 出品中
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/listings/in_progress/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            出品した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/listings/completed/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            出品した商品 - 売却済み
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/purchase/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            購入した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/purchased/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/news/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            ニュース一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/review/history/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            評価一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/help_center/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            ガイド
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/support/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            お問い合わせ
            %i.icon-arrow-right

      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to "/jp/mypage/sales/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            売上・振込申請
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/point/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            ポイント
            %i.icon-arrow-right
    
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to "/jp/mypage/profile/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            プロフィール
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/deliver_address/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            発送元・お届け先住所変更
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/card/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            支払い方法
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/email_password/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            メール/パスワード
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/identification/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            本人情報
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/sms_confirmation/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            電話番号の確認
            %i.icon-arrow-right
        %li
          = link_to "/jp/logout/", class: 'mypage-nav-list-item', data:{turbolinks: :false} do
            ログアウト
            %i.icon-arrow-right

