.default-container
  .purchase-header
    %h1
      = link_to root_path do
        = image_tag 'mercari_logo.png', alt: 'mercari'
  .confirmation
    %h2
      購入内容の確認
    .confirmation__item-info
      .confirmation__item-info__item
        = image_tag @item.image.url, alt: (@item.name)
        .confirmation__item-info__item__title
          = @item.name
      = form_with url: pay_items_path, method: :post do |f|
        .confirmation__item-info__price
          = number_to_currency(@item.price, unit: "￥", precision: 0)
          %span
            送料込み
        .confirmation__item-info__point
          ポイントはありません
        .confirmation__item-info__total-amount
          .confirmation__item-info__total-amount__left
            支払い金額
          .confirmation__item-info__total-amount__right
            %span
              = number_to_currency(@item.price, unit: "￥", precision: 0)
        = f.hidden_field :amount, value: (@item.price)
        .payjp
          %script.payjp-button{"data-key": ENV['PAYJP_PUBLIC_KEY'], "data-partial": "false", "data-submit-text": "購入する", "data-text": "支払う", src: "https://checkout.pay.jp/", type: "text/javascript"}
    .confirmation__shipping-info
      %h3
        配送先
      %address
        〒
        = @address.postalcode
        %br/
        = @address.prefecture
        = @address.city
        = @address.number
        - if @address.building then
          = @address.building
        %br/
        = current_user.last_name
        = current_user.first_name
      %p
        = link_to '' do
          変更する
          = fa_icon 'chevron-right'

  = render 'devise/shared/gray_footer'