.default-container.clearfix
  = render "header"

  .breadcrumb
    - breadcrumb :item_show_all
    = breadcrumbs separator: " &rsaquo; "

  %main.search_ransack.clearfix
    .search_box
      %h3.bold 詳細検索
      = search_form_for(@q, url:search_ransack_items_path, class: 'ransack_form') do |f|
        .ransack_form__item
          = f.label :name_cont, 'キーワードを追加する'
          = f.search_field :name_cont
        .ransack_form__item
          = f.label :item_status_eq, '商品の状態'
          = f.select :item_status_eq ,Item.item_statuses.map{|k, v| [Item.item_statuses_i18n[k], v]}
          -# = f.select :item_status_eq ,Item.item_statuses.map{|s|[t("activerecord.enum.status_id.#{s[0]}"), "#{s[0]}"]}
          -# - Item.item_statuses.each do |i|
          -#   .form-check-input
          -#     = f.check_box :item_status, {multiple: true}, i[0], nil
          -#   .form-check-label 
          -#     = f.label "item_status_#{i[0]}", i[0].upcase
        = f.submit

    .main-content.clearfix
      %h2.clearfix
        商品の詳細検索をする
      %h3.clearfix
      - if @items.present?
        .main-content__list.clearfix
          = render @items

  .view-all.clearfix
    = link_to root_path do
      トップページに戻る

  = render "footer"