= render 'header'

.search
  .search__detail-search
    /= form_tag '', method: :get
    /= select_tag :select1, class: 'arrange', options_for_select([["並び替え","1"], ["価格の安い順","2"], ["価格の高い順","3"], ["出品の古い順","4"], ["出品の新しい順","4"], ["いいね!の多い順","4"]])
  .search__result
    %h2
      - if @typed_keyword.present? then
        = @typed_keyword
        %span
          の検索結果
      - else
        新着商品
    .search__result__item-amount
      = @amount
      件表示
    .search__result__item-list
      - @search.each do |item|
        .search__result__item-list__container
          = link_to item_path(item.id) do
            .search__result__item-list__container__image
              %span{style: "background-image: url(#{item.image})"}
            .search__result__item-list__container__detail
              %h3
                = item.name
              .search__result__item-list__container__detail__info
                .search__result__item-list__container__detail__info__price
                  = number_to_currency(item.price, unit: "￥", precision: 0)
                .search__result__item-list__container__detail__info__like
                  = fa_icon "heart", text: "1"

.breadcrumb
  - breadcrumb :item_search
  = breadcrumbs separator: " &rsaquo; "

= render 'footer'