.default-container.clearfix
  = render "header"

  .breadcrumb
    - breadcrumb :item_show_all
    = breadcrumbs separator: " &rsaquo; "

  %main.search_ransack.clearfix
    .search_box
      -# %tr.search_box__sort
      -#   %th
      -#     = sort_link(@items, :price, "価格順")
      -#   %th
      -#     = sort_link(@items, :created_at, "出品された日順")
      .search_box__condition
        %h3.bold 詳細検索
        = search_form_for(@q, url:search_ransack_items_path, class: 'ransack_form') do |f|
          .ransack_form__item
            = f.label :name_or_description_cont, 'キーワードを追加する'
            = f.search_field :name_or_description_cont, placeholder: '複数ワードは未実装'
          .ransack_form__item
            = f.label :price, '価格の範囲'
            = f.search_field :price_gteq, class: 'ransack_form__item__price', placeholder: '¥ min'
            %span 円以上
            = f.search_field :price_lteq, class: 'ransack_form__item__price', placeholder: '¥ MAX'
            %span 円以下
          .ransack_form__item
            = f.label :item_status_eq, '商品の状態'
            = f.select :item_status_eq ,Item.item_statuses.map{|k, v| [Item.item_statuses_i18n[k], v]}, include_blank: '指定なし'
          .ransack_form__item
            = f.label :trading_status_eq, '出品ステータス'
            = f.select :trading_status_eq ,Trading.statuses.map{|k, v| [Trading.statuses_i18n[k], v]}, include_blank: '指定なし'
          .ransack_form__button
            = f.submit '検索', class: 'ransack_form__button__submit'

    .main-content.clearfix
      %h2.clearfix
        商品の詳細検索をする
      %h3.clearfix
      - if @items.present?
        .main-content__list.clearfix
          = render @items

  .view-all.clearfix
    = link_to root_path do
      トップページに戻る

  = render "footer"