.default-container
  
  =render partial: 'items/header'

  %main
    .item-show
      %section.item_info
        %h2.item_info__name 荒川の桃（荒川農園）
        .item_info__profile.clearfix
          .item_info__profile__images
            .owl_wrap
              .owl_wrap__main_image
                .owl_wrap__main_image__wrap
                  .owl_wrap__main_image__wrap__item.active
                    = image_tag "arakawa_peach.jpg", class: 'owl_wrap__main_image__wrap__item__photo', size: '300x300', alt: ""
              .owl_wrap__nav
                .owl_wrap__nav--prev prev
                .owl_wrap__nav--next next
              .owl_wrap__small_images
                .owl_wrap__small_images__item.active
                  .owl_wrap__small_images__item--inner
                    = image_tag "arakawa_peach.jpg", class: 'owl_wrap__small_images__item--inner__photo', size: '60x60', alt: ""

          %table.item_info__profile__details
            %tr
              %th 出品者
              %td 
                = link_to "荒川静香", "#mypage_notification", class: 'td__link', data:{turbolinks: :false}
                .ratings
                  .ratings__rate
                    = fa_icon 'smile-o', class: 'icon-smile-o'
                    %span 78
                  .ratings__rate
                    = fa_icon 'meh-o', class: 'icon-meh-o'
                    %span 12
                  .ratings__rate
                    = fa_icon 'frown-o', class: 'icon-frown-o'
                    %span 37
            %tr
              %th カテゴリー
              %td
                = link_to "その他", "https://www.mercari.com/jp/category/10/", class: 'td__link', data:{turbolinks: :false}
                = link_to "https://www.mercari.com/jp/category/112/", class: 'td__link', data:{turbolinks: :false} do
                  = fa_icon 'angle-right', class: 'icon-angle-right bold'
                  食品
                = link_to "https://www.mercari.com/jp/category/1136/", class: 'td__link', data:{turbolinks: :false} do
                  = fa_icon 'angle-right', class: 'icon-angle-right bold'
                  その他 加工食品
            %tr
              %th ブランド
              %td 
                = link_to "★ARAKAWA★", "https://www.mercari.com/jp/brand/3878/", class: 'td__link', data:{turbolinks: :false}
            %tr
              %th 商品サイズ
              %td 10cm前後
            %tr
              %th 商品の状態
              %td 目立った傷や汚れなし
            %tr
              %th 配送料の負担
              %td 着払い（購入者負担）
            %tr
              %th 配送の方法
              %td クロネコヤマト
            %tr
              %th 配送元地域
              %td
                = link_to "大阪府", "https://www.mercari.com/jp/area/27/", class: 'td__link', data:{turbolinks: :false}
            %tr
              %th 発送日の目安
              %td 2〜3日で発送
        .item_info__price
          %span.item_info__price__number ¥ 500
          %span.item_info__price__tax (税込)
          %span.item_info__price__fee 着払い

      - unless user_signed_in? && current_user.id == @item.user_id
        .item_buy_button
          = link_to "購入画面に進む", "/transaction/buy/", class: 'item_buy_button__link', data:{turbolinks: :false}

      .item_description
        %p とれたて新鮮、荒川農園の桃を産地直送でお届けします！※1個での単品販売です※おいしい状態でお召し上がりいただきたいので、確実に受け取れるお日にちをご指定下さい

      - unless user_signed_in? && current_user.id == @item.user_id
        .item_buttons.clearfix
          .item_buttons__left

            %button.item_buttons__left--like{data:{ga: "element"}, data:{ga:{category: "LIKE"}}, data:{ga:{label: "like!"}}, data:{id: "m62551574891"}, data:{toggle: "like"}, name: "like!", type: "button"}
              = fa_icon 'heart-o', class: 'icon-heart-o'
              %span いいね!
              %span.fade-in-down{data:{num: "like"}} 5
            = link_to "", class: 'item_buttons__left--report clearfix', data:{modal: "report-item"}, data:{open: "modal"}, data:{turbolinks: :false} do
              = fa_icon 'flag-checkered', class: 'icon-flag-checkered'
              %span 不適切な商品の報告

          .item_buttons__right
            = link_to "https://www.mercari.com/jp/safe/description/", class: 'item_buttons__right--safe clearfix', target: "_blank", data:{turbolinks: :false} do
              = fa_icon 'key', class: 'icon-key'
              %span あんしん・あんぜんへの取り組み

    - if user_signed_in? && current_user.id == @item.user_id
      .listing-item-change-box
        = link_to "商品の編集", edit_item_url, class: "btn-red"
        %p.text-center or
        = link_to "", class: "btn-gray" do
          出品を一旦停止する
        .listing-item-gray-btn2
        = link_to "この商品を削除する", item_path, class: "btn-gray", method: :delete
        

    .message-container
      .message-content
        = form_with url: '/items/1/deactivate/', local: true, class: 'item_messages__form' do |f|
          %p.text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :body, class: 'item_messages__form__input'
          = f.submit 'コメントする',class: 'item_messages__form__submit_btn'

  =render partial: 'items/footer'