.default-container
  
  =render partial: 'items/header'
  
  %main
    - if user_signed_in? && current_user.id == @item.user_id
      %aside#items-show-modal
        .items-show-modal__banner.display
          .items-show-modal__banner__body
            .items-show-modal__banner__body__head 確認
            .items-show-modal__banner__body__text
              削除すると二度と復活できません。<br>
              削除する代わりに停止することもできます。<br>
              <br>
              本当に削除しますか？
          .cleafix
            .btn-cancel キャンセル
            = link_to "削除する", item_path, class: "btn-destroy", method: :delete

    .item-show
      %section.item_info
        %h2.item_info__name 
          = @item.name
        .item_info__profile.clearfix
          .item_info__profile__images
            .owl_wrap
              .owl_wrap__main_image
                .owl_wrap__main_image__wrap
                  .owl_wrap__main_image__wrap__item.active
                    = image_tag @item.image.url, class: 'owl_wrap__main_image__wrap__item__photo', alt: ""
              .owl_wrap__nav
                .owl_wrap__nav--prev prev
                .owl_wrap__nav--next next
              .owl_wrap__small_images
                .owl_wrap__small_images__item.active
                  .owl_wrap__small_images__item--inner
                    = image_tag @item.image.url, class: 'owl_wrap__small_images__item--inner__photo', alt: ""

          %table.item_info__profile__details
            %tr
              %th 出品者
              %td 
                = link_to "#{@user.nickname}", "#mypage_notification", class: 'td__link', data:{turbolinks: :false}
                .ratings
                  .ratings__rate
                    = fa_icon 'smile-o', class: 'icon-smile-o'
                    %span 
                    = @number_of_goods
                  .ratings__rate
                    = fa_icon 'meh-o', class: 'icon-meh-o'
                    %span 
                    = @number_of_normals
                  .ratings__rate
                    = fa_icon 'frown-o', class: 'icon-frown-o'
                    %span 
                    = @number_of_bads
            %tr
              %th カテゴリー
              %td
                = link_to "その他", "https://www.mercari.com/jp/category/10/", class: 'td__link', data:{turbolinks: :false}
                = link_to "https://www.mercari.com/jp/category/112/", class: 'td__link', data:{turbolinks: :false} do
                  = fa_icon 'angle-right', class: 'icon-angle-right bold'
                  食品
                = link_to "https://www.mercari.com/jp/category/1136/", class: 'td__link', data:{turbolinks: :false} do
                  = fa_icon 'angle-right', class: 'icon-angle-right bold'
                  その他 加工食品
            %tr
              %th ブランド
              %td 
                = link_to "★ARAKAWA★", "https://www.mercari.com/jp/brand/3878/", class: 'td__link', data:{turbolinks: :false}
            %tr
              %th 商品サイズ
              %td 
                = @item.size
            %tr
              %th 商品の状態
              %td 
                = @item.item_status
            %tr
              %th 配送料の負担
              %td 
                = @item.delivery_type
            %tr
              %th 配送の方法
              %td 
                らくらくメルカリ便
            %tr
              %th 配送元地域
              %td
                = link_to "#{@item.delivery_region}", "https://www.mercari.com/jp/area/27/", class: 'td__link', data:{turbolinks: :false}
            %tr
              %th 発送日の目安
              %td 
                = @item.delivery_days
        .item_info__price
          %span.item_info__price__number 
            = "¥#{@item.price}"
          %span.item_info__price__tax (税込)
          %span.item_info__price__fee 着払い

      - unless user_signed_in? && current_user.id == @item.user_id
        .item_buy_button
          = link_to "購入画面に進む", purchase_confirmation_item_path(@item.id), class: 'item_buy_button__link', data:{turbolinks: :false}

      .item_description
        %p
          = @item.description

      - unless user_signed_in? && current_user.id == @item.user_id
        .item_buttons.clearfix
          .item_buttons__left

            %button.item_buttons__left--like{data:{ga: "element"}, data:{ga:{category: "LIKE"}}, data:{ga:{label: "like!"}}, data:{id: "m62551574891"}, data:{toggle: "like"}, name: "like!", type: "button"}
              = fa_icon 'heart-o', class: 'icon-heart-o'
              %span いいね!
              %span.fade-in-down{data:{num: "like"}} 5
            = link_to "", class: 'item_buttons__left--report clearfix', data:{modal: "report-item"}, data:{open: "modal"}, data:{turbolinks: :false} do
              = fa_icon 'flag-checkered', class: 'icon-flag-checkered'
              %span 不適切な商品の報告

          .item_buttons__right
            = link_to "https://www.mercari.com/jp/safe/description/", class: 'item_buttons__right--safe clearfix', target: "_blank", data:{turbolinks: :false} do
              = fa_icon 'key', class: 'icon-key'
              %span あんしん・あんぜんへの取り組み

    - if user_signed_in? && current_user.id == @item.user_id && @item.trading.status == "出品中"
      .items-new-change-box
        = link_to "商品の編集", edit_item_url, class: "items-new-change-box__btn-red"
        %p.items-new-change-box__text or
        = link_to "出品を一旦停止する", switch_status_item_path(@item.id), method: :patch, class: "items-new-change-box__btn-gray"
        .items-new-change-box__btn-gray#btn-gray-js この商品を削除する
    
    - if user_signed_in? && current_user.id == @item.user_id && @item.trading.status == "出品停止中"
      .items-new-change-box
        = link_to "商品の編集", edit_item_url, class: "items-new-change-box__btn-red"
        %p.items-new-change-box__text or
        = link_to "出品を再開する", switch_status_item_path(@item.id), method: :patch, class: "items-new-change-box__btn-red"
        .items-new-change-box__btn-gray#btn-gray-js この商品を削除する

    - if user_signed_in? && (@item.trading.status == "出品中" || @item.trading.status == "出品停止中")
      .items-show-message-container
        .items-show-message-container__content
          = form_with url: '/items/1/deactivate/', local: true, class: 'item_messages__form' do |f|
            %p.text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :body, class: 'item_messages__form__input'
            = f.submit 'コメントする',class: 'item_messages__form__submit_btn'
    
    - if user_signed_in? && (@item.trading.status == "取引中" || @item.trading.status == "売却済")
      .items-show-message-container
        .items-show-message-container__content
          = form_with url: '/items/1/deactivate/', local: true, class: 'item_messages__form' do |f|
            %p.text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :body, class: 'item_messages__form__input'
            = link_to "売り切れのため、コメントできません", "", class: "items-new-change-box__btn-gray"

  =render partial: 'items/footer'